
@{
    ViewData["Title"] = "Pendientes";
}

<h1>Pedidos Pendientes</h1>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="col-12">
                <div class="col-5"><h2>Orden 0000001</h2></div>
                <div class="col-5"><h5>Precio 4800.00</h5></div>
            </div>
            <div class="form-row">
                <form>
                    <button type="submit" class="btn btn-dark ml-2 mt-2 mt-md-0">Enviado</button>
                    <button type="submit" class="btn btn-dark ml-2 mt-2 mt-md-0">Imprimir</button>
                </form>
            </div>
        </div>

        <div class="col-12 col-md-4">
            <div class="col-12">
                <div class="col-5"><h2>Orden 0000001</h2></div>
                <div class="col-5"><h5>Precio 4800.00</h5></div>
            </div>
            <div class="form-row">
                <form>
                    <button type="submit" class="btn btn-dark ml-2 mt-2 mt-md-0">Enviado</button>
                    <button type="submit" class="btn btn-dark ml-2 mt-2 mt-md-0">Imprimir</button>
                </form>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="col-12">
                <div class="col-5"><h2>Orden 0000001</h2></div>
                <div class="col-5"><h5>Precio 4800.00</h5></div>
            </div>
            <div class="form-row">
                <form>
                    <button type="submit" class="btn btn-dark ml-2 mt-2 mt-md-0">Enviado</button>
                    <button type="submit" class="btn btn-dark ml-2 mt-2 mt-md-0">Imprimir</button>
                </form>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="col-12">
                <div class="col-5"><h2>Orden 0000001</h2></div>
                <div class="col-5"><h5>Precio 4800.00</h5></div>
            </div>
            <div class="form-row">
                <form>
                    <button type="submit" class="btn btn-dark ml-2 mt-2 mt-md-0">Enviado</button>
                    <button type="submit" class="btn btn-dark ml-2 mt-2 mt-md-0">Imprimir</button>
                </form>
            </div>
        </div>
        <!-- Repite este bloque para más filas de tres divs -->

    </div>
</div>


