
@{
    ViewData["Title"] = "BuscarDireccion";
}

<h1>Buscar Direccion</h1>
<form>
    <div class="form-row">
        <label for="inputState">Direcciones</label>
        <select id="inputState" class="form-control">
            <option selected>Frente a la plaza, San Cayetano</option>
            <option>25 metros norte del Super Genio, Coyol</option>
            <option>Relojería Gomez, Turrialba Centro</option>
            <option>Frente a la panadería la negrita, Nuevos Horizontes</option>
        </select>
    </div>

    

    <div class="form-group">
        <button type="submit" class="btn btn-dark">Modificar</button>
         <button type="submit" class="btn btn-dark">Eliminar</button>
    </div>

</form>

