
@{
    ViewData["Title"] = "CrearDireccion";
}

<h1>Crear Direccion</h1>
<form>
    <div class="form-row">
        <label for="inputState">Indicaciones</label>

        <textarea type="text" class="form-control"></textarea>
    </div>
   
    <div class="form-row">
        <label for="inputState">Comunidad</label>
        <select id="inputState" class="form-control">
            <option selected>Elegir...</option>
            <option>Santa Rosa</option>
            <option>Coyol</option>
            <option>Jorge de Bravo</option>
        </select>
    </div>
   
    <button type="submit" class="btn btn-dark">Crear</button>
</form>