
@{
    ViewData["Title"] = "menu";
}

<h1>Menu</h1>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-4">
            <form>
                <div class="form-row">
                    <h2>Bibimbap</h2>
                </div>
                <div class="form-row">
                    <img src="/imagen/chasiufan.jpeg" alt="..." class="img-thumbnail">
                    Descripción: Arroz de sushi, verdura china, lechón asado y huevo
                </div>
                <div class="form-row">
                    <h3>Precio: 6800.00</h3>
                </div>
                <div class="form-row">
                    <button type="submit" class="btn btn-dark">Agregar al carrito</button>
                </div>
            </form>
        </div>
        
        <div class="col-12 col-md-4">
            <form>
                <div class="form-row">
                    <h2>Bibimbap</h2>
                </div>
                <div class="form-row">
                    <img src="/imagen/chasiufan.jpeg" alt="..." class="img-thumbnail">
                    Descripción: Arroz de sushi, verdura china, lechón asado y huevo
                </div>
                <div class="form-row">
                    <h3>Precio: 6800.00</h3>
                </div>
                <div class="form-row">
                    <button type="submit" class="btn btn-dark">Agregar al carrito</button>
                </div>
            </form>
        </div>
        <div class="col-12 col-md-4">
            <form>
                <div class="form-row">
                    <h2>Bibimbap</h2>
                </div>
                <div class="form-row">
                    <img src="/imagen/chasiufan.jpeg" alt="..." class="img-thumbnail">
                    Descripción: Arroz de sushi, verdura china, lechón asado y huevo
                </div>
                <div class="form-row">
                    <h3>Precio: 6800.00</h3>
                </div>
                <div class="form-row">
                    <button type="submit" class="btn btn-dark">Agregar al carrito</button>
                </div>
            </form>
        </div>
        <div class="col-12 col-md-4">
            <form>
                <div class="form-row">
                    <h2>Bibimbap</h2>
                </div>
                <div class="form-row">
                    <img src="/imagen/chasiufan.jpeg" alt="..." class="img-thumbnail">
                    Descripción: Arroz de sushi, verdura china, lechón asado y huevo
                </div>
                <div class="form-row">
                    <h3>Precio: 6800.00</h3>
                </div>
                <div class="form-row">
                    <button type="submit" class="btn btn-dark">Agregar al carrito</button>
                </div>
            </form>
        </div>
        <div class="col-12 col-md-4">
            <form>
                <div class="form-row">
                    <h2>Bibimbap</h2>
                </div>
                <div class="form-row">
                    <img src="/imagen/chasiufan.jpeg" alt="..." class="img-thumbnail">
                    Descripción: Arroz de sushi, verdura china, lechón asado y huevo
                </div>
                <div class="form-row">
                    <h3>Precio: 6800.00</h3>
                </div>
                <div class="form-row">
                    <button type="submit" class="btn btn-dark">Agregar al carrito</button>
                </div>
            </form>
        </div>


    </div>
</div>
