@{
    ViewData["Title"] = "CrearModificar";
}

<h1>Modificar Producto</h1>
<form>
    <div class="form-row">
        <label for="inputState">Nombre</label>

        <input type="text" class="form-control" />
    </div>
    <div class="form-row">
        <label for="inputState">Descripción</label>

        <textarea type="text" class="form-control"></textarea>
    </div>
    <div class="form-row">
        <label for="inputState">Precio</label>

        <input type="number" class="form-control" />
    </div>
    <div class="form-row">
        <label for="inputState">Categoria</label>
        <select id="inputState" class="form-control">
            <option selected>Elegir...</option>
            <option>Sushi Rolls</option>
            <option>Arroces</option>
            <option>Bowls</option>
        </select>
    </div>
    <button type="submit" class="btn btn-dark">Modificar</button>
</form>