
@{
    ViewData["Title"] = "ModificarOferta";
}

<h1>Modificar Oferta</h1>
<form>
    <div class="form-row">
        <label for="inputState">Categoria</label>
        <select id="inputState" class="form-control">
            <option selected>Elegir...</option>
            <option>Sushi Rolls</option>
            <option>Arroces</option>
            <option>Bowls</option>
        </select>
    </div>
    <div class="form-row">
        <label for="inputState">Producto</label>
        <select id="inputState" class="form-control">
            <option selected>Elegir...</option>
            <option>California Roll</option>
            <option>Rainbow Roll</option>
            <option>Dragon Roll</option>
        </select>
    </div>

    <div class="form-row">
        <label for="inputState">Nuevo Precio</label>

        <input type="number" class="form-control" />

    </div>

    <div class="form-row">
        <button type="submit" class="btn btn-dark">Modificar</button>
    </div>

</form>

