
@{
    ViewData["Title"] = "BuscarCategoria";
}

<h1>Buscar Categoria</h1>
<form class="form-inline">
    <input class="form-control" type="search" placeholder="Nombre de la categoria" aria-label="Search" />
    <button class="btn btn-dark my-2 my-sm-0" type="submit">Buscar</button>
</form>
<table class="table table-light">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Sushi Roll</th>
            <td><button type="button" class="btn btn-dark"><a asp-area="" asp-controller="Categoria" asp-action="ModificarCategoria" style="text-decoration: none; color:white">Modificar</a></button></td>
            <td>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                        Habilitado
                    </label>
                </div>
            </td>

        </tr>
        <tr>
            <th scope="row">Pollo</th>
            <td><button type="button" class="btn btn-dark"><a asp-area="" asp-controller="Categoria" asp-action="ModificarCategoria" style="text-decoration: none; color:white">Modificar</a></button></td>
            <td>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                        Habilitado
                    </label>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">Arroces</th>
            <td><button type="button" class="btn btn-dark"><a asp-area="" asp-controller="Categoria" asp-action="ModificarCategoria" style="text-decoration: none; color:white">Modificar</a></button></td>
            <td>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                        Habilitado
                    </label>
                </div>
            </td>
        </tr>
    </tbody>
</table>

