
@{
    ViewData["Title"] = "BuscarComunidad";
}

<h1>Buscar Comunidad</h1>
<form class="form-inline" method="post" action="/Comunidad/BuscarComunidad">
    <input class="form-control" type="text" id="parametroBusqueda" name="parametroBusqueda" placeholder="Nombre de la comunidad" aria-label="Search" />
    <input class="btn btn-dark my-2 my-sm-0" type="submit" value="Buscar"/>
</form>
<table class="table table-light">
    <thead>
        <tr>
            <th scope="col"><h2>Nombre</h2></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var comunidad in Model)
        {
            <tr>
                <th scope="row">@comunidad.Nombre</th>
                <td>
                    <form action="/Comunidad/ModificarComunidad" method="get">
                        <input type="hidden" name="id" id="id" value="@comunidad.Id"/>
                        <input type="hidden" name="id" id="id" value="@comunidad.Nombre"/>
                        <input type="hidden" name="id" id="id" value="@comunidad.Precio" />
                        <input class="btn btn-dark" type="submit" value="Modificar">
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

