
@{
    ViewData["Title"] = "CrearComunidad";
}

<h1>Crear Comunidad</h1>
<form>
    <div class="form-row">
        <label for="inputState">Nombre</label>

        <input type="text" class="form-control" />
    </div>
    <div class="mb-3">
        <label for="inputState">Precio de entrega</label>

        <input type="number" class="form-control" />
    </div>
    <button type="submit" class="btn btn-dark">Crear</button>
</form>
